@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Nunito Sans", sans-serif;
}
.dm {
  background-color: hsl(207, 26%, 17%);
}
#root {
  background-color: hsl(0, 0%, 98%);
}
#root,
.App {
  height: 100%;
}
